@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Search to begin</h1>
    <p>Or visit your <a href="/Saved">saved</a> movies.</p>
</div>
