@page
@using DotMovies.Models
@model ResultsModel
@{
    ViewData["Title"] = "Results";
}
<h1>@ViewData["Title"]</h1>

@foreach(Movie movie in Model.Movies)
{
    <div>
        @movie.Title
    </div>
}
